
.icon-puzzle:before { content: '\e800'; } /* '' */
.icon-unsplash:before { content: '\e801'; } /* '' */
.icon-basket:before { content: '\e802'; } /* '' */
.icon-emo-devil:before { content: '\e805'; } /* '' */
.icon-quote-left:before { content: '\f10d'; } /* '' */
